html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(20, 20, 20);
  color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: rgb(135, 206, 250);
}

.nav {
  display: flex;
  gap: 2em;
  list-style: none;
}

.nav li a {
  font-size: x-large;
  color: rgb(240, 240, 240); 
}

.upper {
  padding: 0 1em;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: .5em;
}

.assignment {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  background-color: rgb(40, 40, 40);
  border: 2px solid rgb(100, 100, 100);
  border-radius: 3%;
  text-overflow: clip;
  text-align: center;
  color: rgb(240, 240, 240);
}

.content {
  flex: 1;
  padding: 0 1em;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  background-color: rgb(40, 40, 40); 
  color: rgb(240, 240, 240);
}
